<div class="">
  <div class="about-first-section">
    <div style="height: inherit; background-color: rgba(255,255,255,0.7);display: flex; justify-content: center; align-items: center">
      <h1 class="grey-font" style="font-size: 96px">ABOUT US</h1>
    </div>
  </div>

  <div class="about-quote-section">
    <div class="quote-inner">
      <div class="container" style="padding: 10px 50px 30px">
        <div class="text-center">
          <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abba80bbd3b5uNN896P/Screen-Shot-2018-03-28-at-17.33.12-copy.png">
          <p class="white-font">I imagine a world where everyone feels safe at work.
            It has been my driving motivation for over 25 years to create a safe and efficient workplace.
            This philosophy is at the heart of every decision I make and every path I take.
            It is for this reason that I chose to remain focused within the reliability and condition-based
            maintenance field and
            the technologies that AVACO brings to the market allows us to fulfill our obligations and
            responsibilities to our clients.
          </p>
          <p class="white-font">
            Our clients have an immense responsibility to provide clean,
            reliable and sustainable power to their users and we can help with this.
          </p>
          <p class="white-font">- Ajay Chikermane,  Founder Director</p>
        </div>
      </div>

    </div>
  </div>

  <div class="who-we-are-section">
    <div class="container" style="padding: 30px 50px">
      <h3 class="about-heading dark-blue">WHO WE ARE & WHAT WE DO</h3>
      <div style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 15px;">
        <div style="flex: 1">
          <p>
            AVACO has been at the forefront in the world of Reliability for over two
            decades now and we are not showing any signs of slowing down.
          </p>
          <p>
            Mr. Arun Chikermane’s vision of AVACO has taken the company through 20 successful years of operation.
            His un-nerving dedication and focused hard work has enabled AVACO to be known as one of the leading
            providers of globally
            recognized products and solutions within the field of Reliability and Condition Based Maintenance.
          </p>
          <p>
            Over the years AVACO has been expanding in the Middle East and has earned a
            reputation for providing quality
            Equipment Reliability Solutions to various Utilities and Large Industries.
          </p>
        </div>
        <div style="width: 100px; height: inherit;display: flex;
          justify-content: center;
          padding-top: 15px
          ">
          <div style="border-left: 1px solid black; height: 90%"></div>
        </div>
        <div style="flex: 1">
          <p>
            The AVACO group of companies was established in 1994 and has evolved into a leader in the field of
            Predictive Maintenance and Condition Monitoring over the last 23 years.
          </p>
          <p>
            DryTrans is a brand of moisture management systems under the AVACO banner.
            It is a result of two decades of industry experience. AVACO Solutions is based out of SHARJAH,
            U.A.E. DryTrans is designed and manufactured in the United Arab Emirates.
          </p>
          <p>
            DryTrans has been developed completely in-house, under the AVACO banner and is currently being manufactured in the Sharjah Airport Free Zone.
            Support for DryTrans is offered through AVACO International as well as AVACO Solutions FZC.
          </p>
        </div>
      </div>

      <div>
        <h3 class="about-heading dark-blue">OUR CORE</h3>
        <div style="display: flex; flex-wrap: wrap;">
          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90ba5d465bpmWby8X/download-copy_d200.png" style="margin-top: 0px; margin-left: 0px;"> -->
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90ba5d465bpmWby8X/download-copy_d200.png" width="83" height="83" style="width: 83px; height: 83px; margin-top: 23px; margin-left: 0px;">
            </div>
            <div class="icon-heading">We work in highly regulated environments managing complex assets.</div>
          </div>

          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c64daab9fZymewoe/15214-200.png" style="margin-top: 0px; margin-left: 0px;"> -->
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c64daab9fZymewoe/15214-200.png" width="87" height="87" style="width: 87px; height: 87px; margin-top: 25px; margin-left: 0px;">
            </div>
            <div class="icon-heading">We maintain and manage expensive essential equipment for a range of government bodies and private sector customers.</div>
          </div>

          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c64e2cb25GMYPvRN/142733-200.png" style="margin-top: 0px; margin-left: 0px;"> -->
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c64e2cb25GMYPvRN/142733-200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 20px; margin-left: 0px;">
            </div>
            <div class="icon-heading">We provide our clients with better capability, reliability and availability of their critical assets, and in doing so provide significant cost savings.</div>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap;">
          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c7af4fd29oM8OLzd/546234-200.png" style="margin-top: 0px; margin-left: 0px;"> -->
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab8c7af4fd29oM8OLzd/546234-200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 37px; margin-left: 0px;">
            </div>
            <div class="icon-heading">We provide in-depth and detailed site and classroom training on our varied product ranges. </div>
          </div>

          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90bafacb74tK0jh87/consult_icon_d200.png" width="104" height="78" style="width: 104px; height: 78px; margin-top: 35px; margin-left: 0px;">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90bafacb74tK0jh87/consult_icon_d200.png" style="margin-top: 0px; margin-left: 0px;"> -->
            </div>
            <div class="icon-heading">We consult with the client on the site requirements and the materials required.</div>
          </div>

          <div class="small-icon-innercontainer">
            <div class="core-icon-container">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90bb9a9c9dTDfgPER/1_d200.png" width="147" height="77" style="width: 147px; height: 77px; margin-top: 36px; margin-left: -35px;">
              <!-- <img class="small-icon img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab90bb9a9c9dTDfgPER/1_d200.png"  style="margin-top: 0px; margin-left: -35px;"> -->
            </div>
            <div class="icon-heading">We have the in-house ability to offer installation and commissioning services for the products that we promote.</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
