<div class="">
  <div class="contact-us-first-section">
    <div class="contact-us-first-section-inner">
      <h1 class="grey-font" style="font-size: 96px">CONTACT US</h1>
    </div>
  </div>

  <div class="map-section">
    <div id="map" style="width:100%; height:400px;background:yellow"></div>
  </div>


  <div class="contact-parallax">
  <div class="grey-details-section">
    <div class="container" style="padding: 10px 50px">
      <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div class="contact-details">
          <div>
            <i class="fa fa-map-marker" style="font-size: 25px; margin-bottom: 15px"></i>
            <div class=""><p class="footer-grey-heading">OFFICE ADDRESS</p></div>
            <address style="margin-bottom: 16px">
              <div class="" style="margin-bottom: 0px">
                Sharjah Airport Free Zone. SAIF
              </div>
              <div class="" style="margin-bottom: 0px">
                Zone. Q3 – 53 Sharjah,
              </div>
              <div class="" style="margin-bottom: 0px">
                United Arab Emirates
              </div>
            </address>
            <div>
              <p>Email:</p>
              <p><a href="mailto:support@drytrans.com">support@drytrans.com</a></p>
            </div>
            <div>
              <p>Telephone:</p>
              <p>+971 6-5272626</p>
            </div>
            <div>
              <p>Fax:</p>
              <p>+971 6-5738597 </p>
            </div>
          </div>

        </div>
        <div class="contact-details">
          <div>
            <i class="fa fa-cog" style="font-size: 25px; margin-bottom: 15px"></i>
            <div class=""><p class="footer-grey-heading">TECHNICAL DIRECTOR</p></div>
            <div style="margin-bottom: 26px">
              <p style="margin-top: 25px">Contact Person:</p>
              <p>Vishal Patil</p>
            </div>
            <div>
              <p>Email:</p>
              <p><a href="mailto:vishal@drytrans.com">vishal@drytrans.com</a></p>
            </div>
            <div>
              <p>Telephone:</p>
              <p>+97155-6790417</p>
            </div>
            <div>
              <p>Fax:</p>
              <p>+971 6-5738597</p>
            </div>
          </div>

        </div>

        <div class="contact-details">
          <div>
            <i class="fa fa-male" style="font-size: 25px; margin-bottom: 15px"></i>
            <div class=""><p class="footer-grey-heading">SALES</p></div>
            <div style="margin-bottom: 26px">
              <p style="margin-top: 25px">Contact Person:</p>
              <p>Ajay Chikermane</p>
            </div>
            <div>
              <p>Email:</p>
              <p><a href="mailto:ajay@drytrans.com">ajay@drytrans.com</a></p>
            </div>
            <div>
              <p>Telephone:</p>
              <p>+97150-5971357</p>
            </div>
            <div>
              <p>Fax:</p>
              <p>+971 6-5738597</p>
            </div>
          </div>

        </div>
        <div class="contact-details">
          <div>
            <i class="fa fa-user" style="font-size: 25px; margin-bottom: 15px"></i>
            <div class=""><p class="footer-grey-heading">ADMINISTRATION</p></div>
            <div style="margin-bottom: 26px">
              <p style="margin-top: 25px">Contact Person:</p>
              <p>Ashitha Shetty</p>
            </div>
            <div>
              <p>Email:</p>
              <p><a href="mailto:ashitha@drytrans.com">ashitha@drytrans.com</a></p>
            </div>
            <div>
              <p>Telephone:</p>
              <p>+97155-3228623</p>
            </div>
            <div>
              <p>Fax:</p>
              <p>+971 6-573 8597</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="contact-form-container">
    <div class="container" style="padding: 30px 50px;">

      <form action="" style="position: relative">
        <div class="form-warning" id="form-empty-warning" style="width: 500px;">
          <div style="display: flex; justify-content: flex-end; padding:15px 15px 0px">
            <i class="fa fa-close" id="warn-close" style="color: white; font-size: 25px; cursor: pointer"></i>
          </div>
          <div style="margin-top: -16px; width: 100%; height: 85%; z-index: -100; display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;">
            <p class="white-font text-center warning-text" id="first-warn-text"></p>
            <p class="white-font text-center warning-text" id="second-warn-text"></p>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap;">
          <div style="flex: 1; padding: 20px">
            <div class="input-container">
              <label for="">Name</label>
              <input id="contact-name-field"type="text">
            </div>
            <div class="input-container">
              <label for="">Email</label>
              <input id="contact-email-field" type="email">
            </div>
            <div class="input-container">
              <label for="">Phone</label>
              <input type="text" id="contact-phone-field">
            </div>
          </div>
          <div style="flex: 1; padding: 20px">
            <div class="input-container">
              <label for="">Company Name</label>
              <input type="text" id="contact-company-field">
            </div>
            <div class="input-container">
              <label for="">Message</label>
              <textarea name="name" rows="5" cols="40" id="contact-message-field"></textarea>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: flex-end; padding-right: 15px">
          <input class="submit-button" id="contact-form-submit" type="Submit">
        </div>
      </form>
    </div>
  </div>

  <div class="grey-details-section">
    <div class="container" style="padding: 10px 50px">

      <h2 style="width: 80%; margin: 50px auto" class="footer-grey-heading text-center">
        GLOBAL PRESENCE THROUGH OUR PARTNERS
      </h2>
      <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-bottom: 40px">
        <div class="blue-icon-container">
          <i class="fa fa-map-marker blue-icon"></i>
          <span style="font-size: 20px">
            EMEA
          </span>
        </div>

        <div class="blue-icon-container">
          <i class="fa fa-map-marker blue-icon"></i>
          <span style="font-size: 20px">
            ASIA & PACIFIC
          </span>
        </div>

        <div class="blue-icon-container">
          <i class="fa fa-map-marker blue-icon"></i>
          <span style="font-size: 20px">
            NORTH AMERICA
          </span>
        </div>

        <div class="blue-icon-container">
          <i class="fa fa-map-marker blue-icon"></i>
          <span style="font-size: 20px">
            SOUTH AMERICA
          </span>
        </div>


      </div>
    </div>
  </div>
</div>
</div>
