<div class="">
  <div class="experience-first-section">
    <div style="height: inherit; background-color: rgba(255,255,255,0.7);display: flex; justify-content: center; align-items: center">
      <h1 class="grey-font" style="font-size: 100px">EXPERIENCE</h1>
    </div>
  </div>

  <div class="experience-grey-section">
    <div class="experience-grey-section-inner">
      <div class="container" style="padding: 50px">
        <div class="text-center" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
          <ul style="padding: 0; margin: 0">
            <li style="display: flex; margin-bottom: 15px; align-items: center">
              <i class="fa fa-download" style="font-size: 23px; margin-right: 15px; color: black"></i>
              <a href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac09bc969af4YkhAHLl/17-09-14-DT-Case%20Study-DUBAL-MMS90.pdf" class="experience-download-link">
                Pilot project installed at Dubal, Jebel Ali, Dubai United Arab Emirates - January 17, 2017
              </a>
            </li>
            <li style="display: flex; align-items: center">
              <i class="fa fa-download" style="font-size: 23px; margin-right: 15px; color: black"></i>
              <a href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac09bc9ee5a4TbvoU6f/18-03-11-DEWA%20Gen%20Stn-TR5.pdf" class="experience-download-link">
                Pilot project installed at D.E.W.A, Dubai, United Arab Emirates - January 21, 2018
              </a>
            </li>
            <p class="experience-note">(Click to download and view the case studies)</p>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>
