<div class="">
  <div class="faq-first-section">
    <div class="faq-first-section-inner">
      <h1 class="grey-font" style="font-size: 60px">FREQUENTLY ASKED QUESTIONS</h1>
    </div>
  </div>

  <div class="faq-grey-section">
    <div class="faq-grey-section-inner">
      <div class="container" style="padding: 50px">
        <table class="faq-table">
          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">1</span>
                <span>Where does moisture come from?</span>
              </span>
            </th>
            <td>
              Moisture accumulates in the transformer over the years of its operation.
              There are typically three sources of moisture for a transformer:
              <ol style="padding-left: 15px">
                <li>
                  New transformers are meant to carry some moisture in the paper insulation as
                  completely dry paper is too brittle and is not mechanically strong.
                </li>
                <li>
                  Free breathing transformers will add some moisture from the atmosphere through the conservator and through the
                  breather.
                </li>
                <li>
                  Moisture creation inside the transformer paper insulation during normal operating conditions. This is a never-ending cycle, one that cannot be stopped. As the paper is subjected to heat and starts to degrade, the cellulose chain breaks apart to form water which is then dissolved into the oil. As the paper degrades further,
                  more moisture is created and further degrades the paper creating moisture and so on.
                </li>
              </ol>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">2</span>
                <span>What are Continuous On-Line Moisture Management Systems  and why deploy such technologies?</span>
              </span>
            </th>
            <td>
              <p>
                Continuous Online Moisture Management Systems for Oil filled transformers are a crucial necessity of any maintenance
                department.
              </p>
              <p>
                It is now accepted, that no matter the oil filtration efforts, the transformer will never be rid of moisture. Once we accept this reality we are left with the only option, manage moisture effectively. If we cannot remove all the moisture from a transformer, we must manage its
                presence and not allow it to affect the reliability of the transformer.
              </p>
              <p>
                This will require the use of an online moisture
                management system that is permanently affixed to the transformer and
                continually filters the moisture from the oil. Over 98% of moisture in a
                transformer is held within the solid insulation, and the oil acts as the
                medium to get to this moisture. Over time as the management system continues
                its operation and removes the moisture from the oil, the moisture from the
                solid insulation migrates to the oil and the process continues.
                It is absolutely imperative that the moisture be managed from an early stage to
                keep the transformer as healthy as possible and extend its operational life.
              </p>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">3</span>
                <span>Does DryTrans employ the use consumables and
                  how often do they need to be changed?
                </span>
              </span>
            </th>
            <td>
              <p>
                In order to effectively remove moisture from oil, we use a
                material called ZEOLITES. Zeolites are essentially molecular sieve
                material in very small loose bead form.
                 We use molecular sieve 3A for our DryTrans application.
              </p>
              <p>
                This media is a highly adsorbent material which has a high affinity for
                adsorbing water molecules. Over a period of time, the molecular sieve will get saturated at which time the media has to be replaced. However, the time to replacement is
                dependent on various factors and as a result, cannot be predicted easily.
              </p>
              <p>
                With the MMS90, we have incorporated the use of 2 moisture sensors (inlet and
                outlet) and this enables us to determine the difference between the two which will indicate need for media replacement or not. This same procedure can be adopted
                by the TR20 and TR50 through the use of moisture testing at a lab.
              </p>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">4</span>
                <span>
                  What is the water removal capacity of the TR5, TR20, TR50 and MMS90?
                </span>
              </span>
            </th>
            <td>
              <p>
                The TR5 can remove approximately 2-3 liters, the TR20 can remove approximately 4-5 liters of water,
                The TR50 and the MMS90 can remove approximately  9-10 liters of water.
              </p>
              <p>
                The oil dehydration rates of the on-line systems are dependent on
                various factors: moisture content of the oil, temperatures, oil
                quality, load, faults within the transformer if any and others.
              </p>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">5</span>
                <span>
                  What is the current consumption of the unit?
                </span>
              </span>
            </th>
            <td>
              <p>
                Power consumption is 1.3
                Amps at 230 VAC at the highest speed motor setting of 500 LPH.
              </p>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">6</span>
                <span>
                  Is there any leak detection facility in the units?
                </span>
              </span>
            </th>
            <td>
              <p>
                All DryTrans units have been built with various safety features, one of which is the leak detection. The unit is equipped with an internal oil sump with
                a trip function that will collect the oil leaking in the unit.
              </p>
              <p>
                The leaking oil will collect in the sump located in the base of the unit and will trip the system when a preset level is reached, operate and close
                the solenoid valves at the transformer and isolate the transformer.
              </p>
            </td>
          </tr>

          <tr>
            <th>
              <span class style="display: flex; align-items: center">
                <span class="question-number">7</span>
                <span>
                  What is the warranty offered on the DryTrans units?
                </span>
              </span>
            </th>
            <td>
              <p>
                At present we are offering a standard warranty of 12 months from the date of commissioning or 18 months from the date of dispatch, whichever comes first. In special circumstances, we are willing to offer an extended warranty up to 24 months from
                the date of commissioning. This can be looked at on a case to case basis.
              </p>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
