<div>
  <div class="container" style="padding: 0px 70px">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6" style="padding-top: 230px">
          <div class="post">
            <span class="moisture-text">Moisture Management</span>
            <h1 class="redefined">REDEFINED</h1>
          </div>
          <p class="home-medium-text">The most compact and reliable moisture management system<br>
            for 5 MVA Transformers and under.
          </p>
          <%= link_to 'READ MORE', tr5_path, :class => 'more-button' %>
        </div>
        <div class="col-md-6">
          <div class="background-hexagon-image"></div>
          <%= image_tag 'home_tranz.png', class: 'image-box-image-new img-responsive', style: 'height: 750px; margin-top: 90px; margin-left: 35px;' %>

      </div>
    </div>

    </div>
    <div class="halfborder-box" >
      <div>
        <p class="text-center home-medium-text">
          In an effort to increase the life of the transformer and slow the aging rate, DryTrans has developed a series of moisture management systems
          to effectively reduce the moisture in the solid insulation using the oil as the medium.
        </p>
        <p class="text-center home-medium-text">
          All our systems are developed with the premise of installing a completely ON-LINE
          Continuous Moisture Control system for the transformer. Moisture Management is key and it is
          for this need that DryTrans was conceived.
        </p>
      </div>
    </div>


  </div>
  <div class="black-section">
    <p class="white-font">
      "We believe in a healthy, reliable, and well-maintained network.
      Optimize the performance of your transformer, extend its life,
      protect the environment, and create a safe and efficient workplace".
    </p>
  </div>

  <div class="blue-icon-section">
    <div class="container" style="padding-top: 35px">
      <div class="" style="display: flex; justify-content: center; align-items: center">
        <p class="text-center" style="width: 70%">The DryTrans suite of moisture management solutions come with a host of options
          and features suited for every type of transformer</p>
      </div>

      <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_oil_leak.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">Integral Oil Leak Trip</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_effective.png', class: 'img-responsive small-icon trans-model-link' %>
            <!-- <img class="small-icon trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9feb38298be88PLvF/process_-_creativity_icon-01_d200.png" width="73" height="73"> -->
          </div>
          <div class="icon-heading">Innovative & Effective</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_leak_proof.png', class: 'img-responsive small-icon trans-model-link' %>
            <!-- <img class="small-icon trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5aba02ef7d8bbqauzWt6/567589-200.png" width="73" height="73"> -->
          </div>
          <div class="icon-heading">Leak Proof Design</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_smart_system.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">Smart Systems <br>Integration</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_machine_reilability.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">Increased Machine <br>Reliability</div>
        </div>

      </div>

      <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_effecient_pump.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">High Efficiency <br>Pump</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_absorbent.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading"> Efficient Adsorbent <br>Media</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_safety.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">Interlocked Safety</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_thumbsup.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">Easy Install</div>
        </div>

        <div class="small-icon-container">
          <div class="small-icon-innercontainer">
            <%= image_tag 'home_icon_hmi_interface.png', class: 'img-responsive small-icon trans-model-link' %>
          </div>
          <div class="icon-heading">HMI Interface</div>
        </div>

      </div>
    </div>
  </div>

  <div class="discover-section">
    <div style="background-color: rgba(5,5,5,.7)">
      <div class="container flexcolumncenter" style="padding: 20px 0px 90px;">
        <h1 class="grey-font text-center footer-grey-heading" style="font-size: 60px; letter-spacing: 8px;">DISCOVER</h1>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3" style="text-align: right">
              <div>
                <span class="blue-circle footer-grey-heading blue-font">Super Efficient Adsorbent Media</span>
                <p class="white-font">
                  Molecular Sieve 3A Zeolite beads are used for adsorbing the moisture from the oil.
                  According to the beads manufacturer the beads will not remove any gas molecules from the oil, thus not affecting the DGA results. This allows the unit to be specific for moisture removal only.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">SMART Media Replacement</span>
                <p class="white-font">
                  The unit is fitted with a media replacement valve at the bottom of the unit, which uses gravity to remove the media from the unit. This procedure
                  saves time and energy for site personnel and makes the media replacement very easy and simple.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Moisture Sensors</span>
                <p class="white-font">
                  The TR20 / TR50 have been designed with two spare installation points for moisture sensors.
                  These moisture sensors with local display, allow the user to view the moisture data at the inlet and the outlet as needed. These sensors are optional and installed on request.
                  On the MMS90 two moisture sensors are included as part of standard supply.
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">HMI Interface</span>
                <p class="white-font">
                  The MMS90 is outfitted with a clearly visible touch screen interface allowing the user to
                  interact with the unit and perform all necessary functions as well as view stored data points.
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Oil Flow Control</span>
                <p class="white-font">
                  The units are equipped with a manually settable flow control dial.
                </p>
              </div>

            </div>
            <div class="col-md-6">
              <div class="text-center grey-font">
                Model: <span class="blue-font">MMS90</span>
              </div>
              <div style="display: flex; justify-content: center; margin-top: 50px;">
                <%= image_tag 'home_mms90tranz.png', class: 'image-box-image-new img-responsive', style: 'margin: auto' %>
              </div>
            </div>
            <div class="col-md-3" style="text-align: left">

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Flow Indication and Flow Meter</span>
                <p class="white-font">
                  The TR20 / TR50 are equipped with Flow Indicators as part of standard supply and the MMS90 is equipped with a Flow Meter as standard.
                  The TR20 / TR50 can be equipped with a flow meter as an optional item.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Single Tank Design</span>
                <p class="white-font">
                  The cabinet has been designed for outdoor installations to protect the filtration unit housed within.
                  The cabinet has been factory and site tested to meet rugged and harsh environments and extreme temperatures.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Integral Oil Leak Trip</span>
                <p class="white-font">
                  The unit is equipped with an internal oil sump with a trip function that will collect the oil
                  leaking in the unit. The leaking oil will collect in the sump located in the base of the unit and
                  will trip the system when a preset level is reached,
                  operate and close the solenoid valves at the transformer and isolate the transformer.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Particulate Filter</span>
                <p class="white-font">
                  The unit comes equipped with a standard particulate filter to filter any carbon or other suspended particulates in the oil.
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">High Efficiency Pump</span>
                <p class="white-font">
                  2900 RPM GRUNDFOS motor with an adjustable flow rate between 100 – 500 LPH
                </p>
              </div>

              <div>
                <span class="blue-circle footer-grey-heading blue-font">Oil Sampling Points</span>
                <p class="white-font">
                  The unit has two oil sampling points (inlet and outlet)
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div style="margin-top: -20px; margin-bottom: 50px; background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png');">
    <div style="background-color: rgba(0,0,0,.8); position: relative; height: inherit">
      <div style="display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;">


        <div style="display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 262px;
          align-self: flex-end;
          padding: 15px;">
          <h2 style="margin: 0px" class="white-font">For more information</h2>
          <h1 style="margin: 15px" class="white-font">Download our Product Catalogue</h1>
          <a href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac080746844dK2HDZZX/DT%20Brochure%20(UAE).pdf" class="download-button">
            DOWNLOAD
          </a>
        </div>
        <div style="position: absolute; left: 14%;">
          <%= image_tag 'home_downlaod.png', class: 'trans-model-link img-responsive', style: 'margin-top: -1px;' %>
        </div>
      </div>

    </div>

  </div>

  <div>
    <div class="container" style="padding: 20px 0px;">
      <div class="flexcolumncenter">
        <h3 class="text-center footer-grey-heading">
          A Suite of Moisture Management systems for all rating transformers
        </h3>
      </div>
      <div class="row" style="margin: 30px 0px">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="trans-model-link-container">

              <%= link_to image_tag('home_tr5.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px; margin-left: 45px;'), tr5_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR5</span></div>
              <p class="text-center">Best suited for transformers <br>under 5 MVA</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
                <%= link_to image_tag('hometr20.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px; margin-left: 25px;'), tr20_path, :class => 'trans-model-link' %>
              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR20</span></div>
              <p class="text-center">Best suited for transformers <br>under 20 MVA</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
              <%= link_to image_tag('home_tr50.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px;'), tr50_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR50</span></div>
              <p class="text-center">Best suited for transformers <br>under 50 MVA transformers</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
              <%= link_to image_tag('home_mms90.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px;'), mms90_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">MMS90</span></div>
              <p class="text-center">Best suited for 50 MVA <br>transformers and above</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png');">
    <div style="background-color: rgba(255,255,255,.5)">
      <div class="container" style="padding: 20px">
        <div class="row">
          <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap">
            <div class="col-md-7" style="padding: 0px">
              <h1 class="trans-benefits-heading">DryTrans is doing their bit in </h1>
              <h1 class="green-font">protecting the environment</h1>
              <ul class="benefits-list">
                <li>Reducing the number of oil changes during maintenance schedules</li>
                <li>Reducing the overall Carbon Footprint on the environment </li>
                <li>Helping to protect the environment and provide additional
                  benefits such as reduced costs and demonstrate positive Corporate Social Responsibility
                </li>
                <li>
                  Extremely eco-friendly and doesn’t harm the environment with its disposal of regeneration media process.
                </li>
              </ul>
            </div>
            <div class="col-md-5" style="padding: 0px">
              <%= image_tag 'green_reuse.png', class: 'img-responsive', style: 'margin-top: 0px; margin-left: 0px;' %>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
