<div>
    <div class="container" style="padding: 0px 50px">
      <div class="row">

          <div class="col-md-10" style="padding-top: 115px">
            <h1 class="redefined footer-grey-heading trans-main-heading post">The DryTrans MMS90</h1>
            <p class="trans-sub-heading">
              A Robust & Reliable moisture management system for 50 MVA transformers and above
            </p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="overflow: hidden">
            <div class="background-hexagon-image">
            </div>

            <div style="display: flex; position: absolute; top: -35px;">
              <img src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb0fbb9b8c7TcQNxFX/drytrans-logo-02_d400.png" width="230" height="136" style="width: 230px; height: 136px; position: absolute; top: 318px; left: 100px;">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab66f819de76zHRJb6k/MMS90x_d800.png" width="446" height="669" style="width: 446px; height: 669px; margin-top: 0px; margin-left: 239px;">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab66f7a34f43PpWqxbx/MMS90_d1450.png" style="height: 1320px; margin-top: -335px;margin-left: -300px;">
            </div>


          </div>

      </div>

    </div>

    <div class="benefits-section">
      <div class="container flexcolumncenter" style="padding: 20px 0px">
        <h1 class="footer-grey-heading tr5-header grey-font">BENEFITS</h1>
        <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ee939aFhpZo5b/download.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Low-cost solution for distribution transformers</div>
          </div>

          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb7764a1007ivxqvgR/battery-full_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Extends the life of new and old transformers</div>
          </div>

          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb556056d00jtTBJtR/images-copy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Continuous on-line moisture reduction</div>
          </div>
          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb77d38fe83KYBkfMH/easy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Easy to install as new or even retro fit</div>
          </div>
        </div>

        <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ddd045BQslfKB/29638-200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">

            <div class="icon-heading text-center">Reduction in transformer preventive maintenance costs</div>
          </div>

          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ee939aFhpZo5b/download.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">

            <div class="icon-heading text-center">Reduce transformer dry-out costs</div>
          </div>

          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb7a2d851041myLVRT/OIL_MOLECULE-512-copy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Improve transformer dielectric strength</div>
          </div>
          <div class="small-icon-innercontainer">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb78776e20dX4RwxFz/icon-power-factor-mode.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center">Improves the power factor of transformer insulation</div>
          </div>
        </div>

      </div>

    </div>

    <div class="gallery-section flexcolumncenter">
      <h1 class="footer-grey-heading tr5-header grey-font">GALLERY</h1>
      <div class="demo-gallery">
         <ul id="lightgallery">
           <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5accc7cb6e349FLWlBAk/2017-09-23-PHOTO-00000192_d400.jpg"
           >
             <a href="">
               <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5accc7cb6e349FLWlBAk/2017-09-23-PHOTO-00000192_d400.jpg">
               <div class="demo-gallery-poster">
                 <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
               </div>
             </a>
           </li>
           <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dfe410db3C9fB2l8/DSC_0030_d400.JPG"
             >
             <a href="">
               <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dfe410db3C9fB2l8/DSC_0030_d400.JPG">
               <div class="demo-gallery-poster">
                 <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
               </div>
             </a>
           </li>
           <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dfec8edd350liplf/DSC_0033_d400.JPG"
             >
             <a href="">
               <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dfec8edd350liplf/DSC_0033_d400.JPG">
               <div class="demo-gallery-poster">
                 <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
               </div>
             </a>
           </li>
           <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dff446f32X3Pg7nY/DSC_0083_d400.JPG"
             >
             <a href="">
               <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5dff446f32X3Pg7nY/DSC_0083_d400.JPG">
               <div class="demo-gallery-poster">
                 <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
               </div>
             </a>
           </li>
         </ul>

       </div>

    </div>

    <div class="best-suited-section">
      <div class="container" style="padding: 50px">
        <div class="flexcolumncenter">
          <h1 class="footer-grey-heading grey-font tr5-header">BEST SUITED FOR</h1>
          <div class="" style="display: flex; flex-wrap: wrap; padding: 30px;">
            <div class="small-icon-innercontainer" style="width: 240px;">
              <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/59746b963e0bfGZczmh9/icona-cabine_d200.png" width="200" height="118" style="width: 200px; height: 118px; margin-top: 0px; margin-left: 0px;">
              <div class="icon-heading text-center" style="margin-top: 0">TRANSMISSION TRANSFORMERS</div>
            </div>
            <div class="small-icon-innercontainer" style="width: 240px;">
              <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/59746b963e0bfGZczmh9/icona-cabine_d200.png" width="200" height="118" style="width: 200px; height: 118px; margin-top: 0px; margin-left: 0px;">
              <div class="icon-heading text-center" style="margin-top: 0">GENERATION (POWER) TRANSFORMERS</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="specification-section">
      <div class="container flexcolumncenter" style="padding: 50px">
        <h1 class="footer-grey-heading grey-font tr5-header">SPECIFICATION</h1>
        <div class="tr5-table-container" style="margin-bottom: 0px">
          <table>
            <tr>
              <th>Transformer Size</th>
              <td>> 100 MVA</td>
            </tr>
            <tr>
              <th>Flow Rate</th>
              <td>
                100 LPH – 500 LPH
              </td>
            </tr>
            <tr>
              <th>Moisture Management</th>
              <td>
                to ≤ 10 ppm
              </td>
            </tr>
            <tr>
              <th>Media Volume</th>
              <td>
                50 kg
              </td>
            </tr>
            <tr>
              <th>Particulate Removal</th>
              <td>
                1 Micron (Spin on type)
              </td>
            </tr>
            <tr>
              <th>Flow Meter</th>
              <td>
                Local Digital Display
              </td>
            </tr>
            <tr>
              <th>Weight in Kgs</th>
              <td>
                290 kgs(In Cabinet)
              </td>
            </tr>
            <tr>
              <th>Dimensions: Width x Height x Depth</th>
              <td>
                1680 x 805 x 620 mm
              </td>
            </tr>
            <tr>
              <th>Enclosure</th>
              <td>
                Mild Steel 2.5 mm thickness Powder Coated
              </td>
            </tr>
            <tr>
              <th>Cylinder & Piping</th>
              <td>
                Stainless Steel 316 Grade
              </td>
            </tr>
            <tr>
              <th>Protection </th>
              <td>
                Designed to comply with IP65
              </td>
            </tr>
            <tr>
              <th>Operating Temperature Range</th>
              <td>
                0 °C to + 65 °C
              </td>
            </tr>
            <tr>
              <th>Moisture Adsorbancy Capacity</th>
              <td>
                10 - 12 Liters Approx
              </td>
            </tr>
            <tr>
              <th>Operating oil temperature range</th>
              <td>
                + 2 °C to + 95 °C
              </td>
            </tr>

            <tr>
              <th>Operating pump capacity</th>
              <td>
                Maximum 500 Liters/hour
              </td>
            </tr>
          </table>
          <table>
            <h4 style="font-weight: bold; margin-top: 30px">COMMUNICATION & DATA:</h4>
            <tr>
              <th>
                Display
              </th>
              <td>
                4 Inch, touchscreen
              </td>
            </tr>
            <tr>
              <th>Data Download</th>
              <td>
                USB Flash Drive
              </td>
            </tr>
            <tr>
              <th>Remote Communication</th>
              <td>
                RS-485 port
              </td>
            </tr>
            <tr>
              <th>Communication Protocols</th>
              <td>
                Modbus,
                DNP3 (Optional)
                IEC 61850 (Optional)
              </td>
            </tr>
            <tr>
              <th>Alarm Relays</th>
              <td>
                2 nos. NO/NC Contacts, (5A, 240 VAC)
              </td>
            </tr>
            <tr>
              <th>Data Storage</th>
              <td>
                16 GB(10 Years)
              </td>
            </tr>
            <tr>
              <th>Installation time: Est.</th>
              <td>
                5 (Five) hours with 2 (Two) engineers
              </td>
            </tr>
            <tr>
              <th>Commissioning Time: Est.</th>
              <td>
                1 hour
              </td>
            </tr>
            <tr>
              <th>Alarms and cable requirement</th>
              <td>
                Media Saturation Alarm, Digital Output:
                1 NO/NC Contact (230VAC, 5A UL; 30VDC, 5A UL; Fail Safe Mode).

                System General Alarm, Digital Output:
                1 NO/NC Contact (230VAC, 5A UL; 30VDC, 5A UL; Fail Safe Mode).

                Cable Size: 1 – 1.5 mm sq
              </td>
            </tr>
            <tr>
              <th>Power Cable</th>
              <td>
                 2.5 mm sq
              </td>
            </tr>
            <tr>
              <th>Monitoring</th>
              <td>
                Temperature and moisture probes at inlet and outlet with
                local LCD display
              </td>
            </tr>
            <tr>
              <th>Oil Supply line</th>
              <td>
                Stainless Steel Teflon Flexible ½ inch
              </td>
            </tr>
            <tr>
              <th>Oil Return line</th>
              <td>
                Stainless Steel Teflon Flexible ½ inch
              </td>
            </tr>
            <tr>
              <th>Flange Adaptors</th>
              <td>
                Stainless Steel ½ inch
              </td>
            </tr>
          </table>
          <table>
            <h4 style="font-weight: bold; margin-top: 30px">SMART FEATURES:</h4>
            <tr>
              <th>
                Monitoring
              </th>
              <td>
                Temperature and moisture probes at inlet and outlet
              </td>
            </tr>
            <tr>
              <th>HMI</th>
              <td>
                 Full touch screen HMI access
              </td>
            </tr>
            <tr>
              <th>Oil Flow</th>
              <td>
                 Total oil flow in liters
              </td>
            </tr>
            <tr>
              <th>Data Bank</th>
              <td>
                Inlet and Outlet Moisture
                Inlet and Outlet Temperature
                Total Oil flow
              </td>
            </tr>
            <tr>
              <th>Event Log </th>
              <td>
                 Alarms and Errors Log
              </td>
            </tr>
          </table>

          <table>
            <h4 style="font-weight: bold; margin-top: 30px">OPTIONAL:</h4>
            <tr>
              <th>
                Communication Protocol
              </th>
              <td>
                IEC 61850
              </td>
            </tr>
            <tr>
              <th>Analog Output and Input</th>
              <td>
                 4 – 20 mA
              </td>
            </tr>
            <tr>
              <th>Oil supply line construction</th>
              <td>
                Above 5 Meter SS Teflon Flexible ½ inch

              </td>
            </tr>
            <tr>
              <th>Oil return line</th>
              <td>
                Above 5 Meter SS Teflon Flexible ½ inch
              </td>
            </tr>
            <tr>
              <th>Communication protocols</th>
              <td>
                 DNP3 or IEC 61850
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="container flexcolumncenter" style="padding: 50px; margin-bottom: 50px; font-size: 16px">
      <h4 class="footer-grey-heading">WARRANTY & SUPPORT</h4>
      <p class="text-center"> DryTrans’s all moisture management systems are backed by a ONE-year factory warranty, extending to 3 years on some parts. DryTrans systems are available through DryTrans’s worldwide network of authorized representative.</p>
    </div>

    <div class="tr5-download-section" >
      <div class="black-layer" style="position: relative;">
        <div style="display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;">


          <div style="display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 262px;
            align-self: flex-end;
            padding: 15px;">
            <!-- <h2 style="margin: 0px" class="white-font">For more information</h2> -->
            <h1 style="margin: 15px" class="white-font">Download the MMS90 Brochure</h1>
            <a class="download-button"  target="_blank" href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac097f11f42b3U4G0Dl/B-MMS90.pdf">
              DOWNLOAD
            </a>
          </div>
          <div style="position: absolute;top: -60px; left: 230px">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb5e3f1f5b2WUGqas2/Screen-Shot-2018-03-28-at-12.18.52_d400.png" width="200" height="247" style="margin-top: 0px; margin-left: -1px;transform: rotate(-21deg);">
            <!-- <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb5e3f1f5b2WUGqas2/Screen-Shot-2018-03-28-at-12.18.52_d400.png" width="305" height="391" style="width: 305px; height: 391px; margin-top: 0px; margin-left: -1px;"> -->
          </div>
        </div>

      </div>

    </div>

    <div class="tr5-form-section">
      <div class="container" style="padding: 0px 150px 50px">
        <div style="display: flex; justify-content: centre; align-items: center; flex-wrap: wrap">
          <div class="form-heading-container">
            <h1>Looking for a Demo?</h1>
            <h1>Get in touch with us!</h1>
          </div>
          <div class="form-div">
            <div class="trans-form-warning" id="form-empty-warning">
              <div style="display: flex; justify-content: flex-end">
                <i class="fa fa-close" id="warn-close" style="font-size: 20px; cursor: pointer; margin-top: 7px; margin-right: 7px;"></i>
              </div>
              <div style="margin-top: -15px; width: 100%; height: 85%; z-index: -100; display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column
                ">
                <p class="white-font text-center small-form-warning-text" id="first-warn-text"></p>
                <p class="white-font text-center small-form-warning-text" id="second-warn-text"></p>
              </div>
            </div>
            <p class="white-font" style="font-size: 16px">
              Fill in your name and email address below and we will get in touch with you, shortly.
            </p>
            <form action="">
              <div>
                <label for="" class="white-font">Name</label>
                <input type="text" id="name-field">
              </div>
              <div>
                <label for="" class="white-font">Email</label>
                <input type="email" id="email-field">
              </div>
              <input style="z-index: 100" id="email-submit" class="submit-button" type="submit">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="subject-expert-section">
      <div class="black-layer">
        <div class="container flexcolumncenter" style="padding: 50px;">
          <h1 class="grey-font footer-grey-heading" style="margin-top: 0px">
            Speak to our subject expert today!
          </h1>
          <h2 class="white-font">Give us a call on +971 6-5272626</h2>
          <h2 class="white-font" style="margin-top: 0px">or send us an email at <a style="color: white" href="mailto:support@drytrans.com">support@drytrans.com</a></h2>
        </div>
      </div>
    </div>

  </div>
