<div class="">
  <div class="moisture-first-section">
    <div style="height: inherit; background-color: rgba(255,255,255,0.7);display: flex; justify-content: center; align-items: center">
      <h1 class="grey-font" style="font-size: 60px">WHY IS <span class="blue-font">MOISTURE</span> THE ENEMY?</h1>
    </div>
  </div>

  <div class="moisture-black-parallax-section">
    <div class="black-layer">
      <div class="container" style="padding: 50px">
        <div>
          <p class="white-font">
            Transformers are one of the most important capital assets that a Utility can own.
            Maintaining a healthy transformer is a core practice of any maintenance program.
          </p>
          <p class="white-font">
            There are many variables that affect the life expectancy of the transformer.
            The most important of all being the moisture content in the solid and the liquid insulation.
            Moisture in the transformer is
            the enemy and its presence is directly related to the dielectric strength of the oil and paper.
          </p>
          <p class="white-font">
            Excessive moisture has a direct impact on the age reduction of the transformer. Existing technical papers and authorities around the world have linked the life of the transformer directly to the life of the solid insulation.
            Any attempt to protect the solid insulation will increase life and slow the aging process.
          </p>
          <p class="white-font">
            At DryTrans, we believe in a healthy, reliable and well-maintained network.
            The goal is to optimize the performance of transformers,
            extend life, protect the environment, and create a safe and efficient workplace.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="moisture-understanding-section">
    <div class="container" style="padding: 10px 50px">

      <div style="display: flex; justify-content: space-around;">
        <div class="moisture-understanding-inner" style="flex: 1">
          <div style="display: flex; justify-content: center; align-items: center">
            <h3 class="text-center footer-grey-heading heading">UNDERSTANDING <span class="dark-blue">MOISTURE</span></h3>
          </div>
          <p>
            Moisture in oil is measured in parts per million (ppm) using the weight of moisture
            divided by the weight of oil. Water can be present in oil in a dissolved form, as tiny droplets
             mixed with the oil (emulsion), or in a free state at the bottom of the tank holding the oil.
             Demulsification occurs when the tiny
            droplets unite to form larger drops which sink to the bottom and form free water.
          </p>
          <p>
            When the moisture in oil exceeds the saturation value,
            there will also be free water precipitated from the oil in suspension or drops.
            In general, the moisture content in the oil lowers the insulating system dielectric strength and
            allows flashover that can damage a transformer. Moisture can also accelerate
            paper-insulation aging rates that will reduce the expected useful life of the equipment.
          </p>
          <p>
            For mineral oil, a generally accepted maximum moisture content is 30 ppm.
          </p>
        </div>
        <div style="width: 100px; height: inherit;display: flex;
          justify-content: center;
          align-items: center;">
          <div style="border-left: 1px solid black; height: 75%"></div>
        </div>
        <div class="moisture-understanding-inner" style="flex: 1">
          <div style="display: flex; justify-content: center; align-items: center">
            <h3 class="text-center footer-grey-heading heading"><span class="dark-blue">MOISTURE</span> TESTING</h3>
          </div>
          <p style="text-align: justify">
            This test method covers the measurement of water present in insulating
            liquids by coulometric Karl Fischer titration.
          </p>
          <p>
            This test method is used commonly for test specimens below 100 % relative saturation of water in oil.
            The coulometric test method is known for its high degree of sensitivity (typically 10 μg H2O).
          </p>
          <p>
            This test method requires the use of equipment specifically designed for coulometric titration.
          </p>
          <p>
            Types of Tests conducted:
          </p>
          <ul>
            <li>Online Oil Filtration system (ONLINE)</li>
            <li>Karl Fisher Titration ASTM D1533 Method (OFFLINE)</li>
            <li>Scheduled maintenance Oil change (OFFLINE)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="moisture-effects-section">
    <div class="container" style="padding: 20px 50px">
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px">
        <h1 class="text-center footer-grey-heading heading">Effects of <span class="blue-font">Moisture</span></h1>
      </div>

      <div style="display: flex; justify-content: space-around; align-items: center">
        <div class="moisture-understanding-inner">
          <p>
            The effect of moisture on insulation aging is well explained in various published papers and documented
            along with the damaging effect on insulation strength and partial discharge initiation level.
          </p>
          <p>
            It has also been shown that at high temperatures, the residual
            moisture in winding insulation can trigger the release of free gas bubbles,
            thus creating an immediate threat to the dielectric integrity of the insulation structure.
          </p>
          <p>
            Deterioration in transformer cellulose decreases both its electrical and mechanical strength.
            In general, the greater the water content the more the mechanical strength reduces.
            Mineral oil has a very limited capacity to absorb moisture.
          </p>
        </div>
        <div class="moisture-understanding-inner">
          <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5aba1ccc4b8fcdF7hs7j/7-copy-2_d400.jpg" style="margin-top: 0px;">
          <a href="http://www.electricaltesttech.com" class="table-source-container grey-font"><p>(Table Source: www.electricaltesttech.com)</p></a>
        </div>
        <div class="moisture-understanding-inner">
          <p style="text-align: justify">
            The rate of paper ageing is directly related to the water content.
            Various studies have shown that the lifetime of the paper reduces by as much as a factor of
            ten for each extra 1% of water content in the cellulose.
            As the cellulose ages, it releases water, thus accelerating the ageing process.
          </p>
          <p>
            Most of the water produced during aging remains in the windings,
            reducing the insulation resistance of the transformer. It also reduces the transformer’s
            ability to withstand the mechanical and electrical stresses that occur in operation.
          </p>
          <p>
            Over time this will result in outages and/or
            the necessary down rating of the transformer and ultimately could result in complete failure.
          </p>

        </div>
      </div>
    </div>

  </div>

  <div class="moisture-grey-quote-section">
    <p>
      "Moisture will decrease dielectric strength,
       accelerate cellulose aging and cause the emission of gaseous bubbles at high temperatures".
    </p>
  </div>

  <div class="moisture-comes-from-section">
    <div class="container" style="padding: 50px 0px">
      <div class="white-font">
        <h1 class="white-font" style="font-size: 60px; margin-bottom: 50px">Where does <span class="blue-font">Moisture</span> come from?</h1>
        <p>Moisture accumulates in the transformer over the years of its operation.</p>
        <p>There are typically three sources of moisture for a transformer:</p>
        <p>1) New transformers are meant to carry some moisture in the paper insulation.</p>
        <p>2) From the atmosphere via the conservator and through the breather in free-breathing transformers.</p>
        <div class="para-blue-border"><p>3) Moisture creation happens from inside the transformer paper insulation during normal operating conditions.</p></div>
      </div>
    </div>
  </div>

  <div class="moisture-grey-table-section">
    <table style="width:100%">

      <tr>
        <th rowspan="3" style="text-align: right">
          <p>Standards for</p><p>Moisture Content</p>
          <a href="http://www.midel.com">(Source: www.midel.com)</a>
        </th>
        <th><p>Standard</p></th>
        <th><p>Moisture Content</p></th>
      </tr>
      <tr>
        <td>BS 148 - New Mineral Oil</td>
        <td>max. 30ppm</td>
      </tr>
      <tr>
        <td>BS 5730 - In-service Mineral Oil</td>
        <td>max. 30ppm</td>

      </tr>
    </table>

  </div>
</div>
