<div class="">
  <div class="solutions-first-section">
    <div class="solutions-first-section-inner">
      <h1 class="grey-font" style="font-size: 96px">SOLUTIONS</h1>
    </div>
  </div>

  <div>
    <div class="container flexcolumncenter" style="padding: 10px 50px">
      <h3 class="about-heading dark-blue text-center footer-grey-heading">
        SIGNIFICANCE
      </h3>
      <div style="display: flex; justify-content: space-around; margin: 20px 0px">
        <div>
          <p style="text-align: justify; font-size: 16px">
            The purpose of the DryTrans unit is to dehydrate the paper insulation
            using the oil as a medium.  When we dehydrate the oil, we are affecting the
            equilibrium of the moisture content between the oil and the paper with
            temperature and load as factors to consider.  Once the oil has been dehydrated,
             a loss of equilibrium is created and forces moisture trapped in the paper to migrate to the oil.  Once this occurs the oil is again filtered due to the permanent installation of the DryTrans unit and
            this process continues keeping the moisture levels at less than 10 PPM.
          </p>
        </div>
        <div style="width: 100px; height: inherit;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0px 15px;">
          <div style="border-left: 1px solid grey; height: 95%"></div>
        </div>
        <div>
          <p style="text-align: justify; font-size: 16px">
            The purpose of the DryTrans unit is to
            dehydrate the paper insulation using the oil as a medium.
            When we dehydrate the oil, we are affecting the equilibrium of
            the moisture content between the oil and the paper with temperature and
            load as factors to consider.  Once the oil has been dehydrated, a loss of
            equilibrium is created and forces moisture trapped in the paper to migrate to
            the oil.  Once this occurs the oil is again filtered due to the permanent installation of the DryTrans unit and this process
            continues keeping the moisture levels at less than 10 PPM.
          </p>
      </div>
    </div>
  </div>

  <div class="about-quote-section">
    <div class="quote-inner">
      <div class="container" style="padding: 50px">
        <div class="text-center">
          <p class="white-font" style="font-size: 25px">
            The DryTrans MMS90 units have been designed and built in accordance with
             the IEEE Standard C57.140-2006 – IEEE Guide for the Evaluation and
             Reconditioning of Liquid-Immersed Power Transformers, Section 7.2.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container" style="padding: 20px 0px;">
      <div class="flexcolumncenter">
        <h3 class="text-center footer-grey-heading">
          A Suite of Moisture Management systems for all rating transformers
        </h3>
      </div>
      <div class="row" style="margin: 30px 0px">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="trans-model-link-container">

              <%= link_to image_tag('home_tr5.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px; margin-left: 45px;'), tr5_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR5</span></div>
              <p class="text-center">Best suited for transformers <br>under 5 MVA</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
                <%= link_to image_tag('hometr20.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px; margin-left: 25px;'), tr20_path, :class => 'trans-model-link' %>
              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR20</span></div>
              <p class="text-center">Best suited for transformers <br>under 20 MVA</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
              <%= link_to image_tag('home_tr50.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px;'), tr50_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">TR50</span></div>
              <p class="text-center">Best suited for transformers <br>under 50 MVA transformers</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="trans-model-link-container">
              <%= link_to image_tag('home_mms90.png', class: 'trans_model_image trans-model-link img-responsive', style: 'margin-top: -1px;'), mms90_path, :class => 'trans-model-link' %>

              <div class="footer-grey-heading text-center" style="margin-top: 25px; width: 100%;">Model: <span class="blue-font">MMS90</span></div>
              <p class="text-center">Best suited for 50 MVA <br>transformers and above</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-quote-section">
    <div class="quote-inner">
      <div class="container" style="padding: 50px">
        <div class="text-center">
          <p class="white-font" style="font-size: 25px">
            Our goal is to optimize the performance of the transformer, extend its life,
            protect the environment, and create a safe and efficient workplace. DryTrans can help achieve this goal.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding: 20px 50px">
    <h3 class="dark-blue">
      THE PROOF IS IN THE SLUDGE
    </h3>
    <div style="margin: 20px 0px">
      <div>
        <p style="text-align: justify; font-size: 16px">
          In order to effectively remove moisture from oil, we use a material called ZEOLITES.  Zeolites are essentially molecular sieve material in very small loose bead form.  We use molecular sieve 3A for our DryTrans application.  This media is a highly adsorbent material which has a high affinity for adsorbing water molecules.  Over a period of time, the molecular sieve will get saturated at which time the media has to be replaced.  However, the time to replacement is dependent on various factors and as a result, cannot be predicted easily.  With the MMS90, we have incorporated the use of 2 moisture sensors (inlet and outlet) and this enables us to determine the difference between the two which will indicate the need for media replacement or not.  This same procedure can be adopted by the
          TR20 and TR50 through the use of moisture testing at a lab.
        </p>
        <p style="text-align: justify; font-size: 16px">
          The oil dehydration rates of the online systems are dependent on various factors: moisture content of the oil, temperatures, oil quality,
          load, faults within the transformer if any and others.
        </p>
        <p style="text-align: justify; font-size: 16px">
          The DryTrans unit is designed for permanent use on a transformer and this is the only way to ensure accurate moisture management.
        </p>
      </div>
    </div>
  </div>

  <div class="water-removal-section">
    <div class="container" style="padding: 20px 50px">
      <div class="" style="display: flex; justify-content:center; align-items: center">
        <h3 class="dark-blue footer-grey-heading" style="display: inline-block">
          AMOUNT OF WATER REMOVAL
        </h3>
      </div>

      <div class="waterdrop-icon-container">
        <div class="icon-wrapper">
          <div class="footer-grey-heading">
            <%= image_tag 'tr5_water_drop.png', class: 'water-drop img-responsive footer-grey-heading' %>
          </div>

          <p class="white-font">
            2-3 Litres
          </p>
        </div>
        <div class="icon-wrapper">
          <div class="footer-grey-heading">
            <%= image_tag 'tr20_water_drop.png', class: 'water-drop img-responsive footer-grey-heading' %>
          </div>
          <p class="white-font">
            4-5 Litres
          </p>
        </div>
        <div class="icon-wrapper">
          <div class="footer-grey-heading">
            <%= image_tag 'tr50_water_drop.png', class: 'water-drop img-responsive footer-grey-heading' %>
          </div>
          <p class="white-font">
            9-10 Litres
          </p>
        </div>
        <div class="icon-wrapper">
          <div class="footer-grey-heading">
            <%= image_tag 'mms90_water_drop.png', class: 'water-drop img-responsive footer-grey-heading' %>
          </div>
          <p class="white-font">
            9-10 Litres
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="oil-fiteration-benefits">
    <div class="oil-fiteration-benefits-inner">
      <div class="container flexcolumncenter" style="padding: 30px 50px">
        <h3 class="about-heading dark-blue text-center footer-grey-heading">
          BENEFITS OF OIL FILTRATION
        </h3>
        <div class="">
          <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ddd045BQslfKB/29638-200.png" width="52" height="52" style="width: 52px; height: 52px; margin-top: 0px; margin-left: 0px;">

              <div class="icon-heading">
                Reduces the moisture content in the oil
              </div>
            </div>

            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb55af45b01iRin881/BDV_d200.png" width="144" height="52" style="width: 144px; height: 52px; margin-top: 0px; margin-left: -24px;">
              <div class="icon-heading">Enhances the Breakdown Voltage value</div>
            </div>

            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb556056d00jtTBJtR/images-copy_d200.png" width="52" height="52" style="width: 52px; height: 52px; margin-top: 0px; margin-left: 0px;">
              <div class="icon-heading">Reclamation or Regeneration with Degassing</div>
            </div>
          </div>
          <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ee939aFhpZo5b/download.png" width="60" height="60" style="width: 60px; height: 60px; margin-top: 0px; margin-left: 0px;">
              <div class="icon-heading">
                Reduces maintenance and replacement costs
              </div>
            </div>

            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555f23d44oNQt0Lb/EMS-Bio-Icon-copy_d200.png" width="54" height="53" style="width: 54px; height: 53px; margin-top: 0px; margin-left: 0px;">
              <div class="icon-heading">
                Reduces particles contamination
              </div>
            </div>

            <div class="small-icon-innercontainer">
              <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555e2e145ifAgTh3/DAF-Icon2_sml-copy_d200.png" width="84" height="60" style="width: 84px; height: 60px; margin-top: 0px; margin-left: -12px;">
              <div class="icon-heading">
                Reduces the risk of sludge build-up
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="area-filteration">
    <div class="container flexcolumncenter" style="padding: 30px 50px">
      <h3 class="about-heading dark-blue text-center footer-grey-heading">
        AREAS OF APPLICATION
      </h3>
      <div class="">
        <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c09ce8ae7zOpyyA/download_d200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              POWER UTILITIES
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c0a63649woS6sW0/images-1_d200.png" width="88" height="86" style="width: 88px; height: 86px; margin-top: 0px; margin-left: -1px;">
            <div class="icon-title">
              OIL & GASE
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c096b8fbts2Y8sQ/download-3_d200.png" width="100" height="79" style="width: 100px; height: 79px; margin-top: -1px; margin-left: 0px;">
            <div class="icon-title">
              HEAVY INDUSTRIES
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c0b2862eaog8AsB/images_d200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              SOLAR PARKS
            </div>
          </div>

        </div>
        <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9bfec718di1r2LTK/147042-200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              COMMERCIAL APPLICATIONS
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c08c3c57Xbcs3Qu/download-2_d200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              MILITARY & DEFENSE
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9c0864cacA34UIsf/download-1_d200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              PROCESS INDUSTRIES
            </div>
          </div>

          <div class="small-icon-innercontainer-solutions-application">
            <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5acc9d2f6db80hXh7fCc/industrial-building-512_d200.png" width="86" height="86" style="width: 86px; height: 86px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-title">
              PLANTS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>
