<div>
  <div class="container" style="padding: 0px 50px">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-7" style="padding: 200px 50px">
          <h1 class="redefined footer-grey-heading trans-main-heading post">The DryTrans TR20</h1>
          <p class="trans-sub-heading">
            A Robust moisture management system <br>
            for 20 MVA transformers and under
          </p>

        </div>
        <div class="col-md-5">
          <div style="position: relative">
            <div class="background-hexagon-image">
            </div

            <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb0fbf12b0823dYkHj/drytrans-logo-03_d200.png" style="width: 200px; height: 143px; position: absolute; bottom: 200px; left: -215px;"> -->
            <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab7c7b5a8564IPK5g8D/TR20_d1000.png" style="

              margin-top: -95px;
              margin-left: -63px;">
          </div>


        </div>


      </div>

    </div>

  </div>

  <div class="benefits-section">
    <div class="container flexcolumncenter">
      <h1 class="footer-grey-heading tr5-header grey-font">BENEFITS</h1>
      <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ee939aFhpZo5b/download.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Low-cost solution for distribution transformers</div>
        </div>

        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb7764a1007ivxqvgR/battery-full_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Extends the life of new and old transformers</div>
        </div>

        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb556056d00jtTBJtR/images-copy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Continuous on-line moisture reduction</div>
        </div>
        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb77d38fe83KYBkfMH/easy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Easy to install as new or even retro fit</div>
        </div>
      </div>

      <div style="display: flex; flex-wrap: wrap; margin: 30px 0px">
        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ddd045BQslfKB/29638-200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">

          <div class="icon-heading text-center">Reduction in transformer preventive maintenance costs</div>
        </div>

        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb555ee939aFhpZo5b/download.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">

          <div class="icon-heading text-center">Reduce transformer dry-out costs</div>
        </div>

        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb7a2d851041myLVRT/OIL_MOLECULE-512-copy_d200.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Improve transformer dielectric strength</div>
        </div>
        <div class="small-icon-innercontainer">
          <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb78776e20dX4RwxFz/icon-power-factor-mode.png" width="70" height="70" style="width: 70px; height: 70px; margin-top: 0px; margin-left: 0px;">
          <div class="icon-heading text-center">Improves the power factor of transformer insulation</div>
        </div>
      </div>

    </div>

  </div>

  <div class="gallery-section flexcolumncenter">
    <h1 class="footer-grey-heading tr5-header grey-font">GALLERY</h1>
    <div class="demo-gallery">
       <ul id="lightgallery">
         <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da2a42bb98JFc6Jx/TR20-Inlet-and-Outlet_d600.JPG"
         >
           <a href="">
             <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da2a42bb98JFc6Jx/TR20-Inlet-and-Outlet_d600.JPG">
             <div class="demo-gallery-poster">
               <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
             </div>
           </a>
         </li>
         <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da2fa48c9X2Lo61P/TR20-Inside-Detail-2_d600.JPG"
           >
           <a href="">
             <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da2fa48c9X2Lo61P/TR20-Inside-Detail-2_d600.JPG">
             <div class="demo-gallery-poster">
               <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
             </div>
           </a>
         </li>
         <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da3544f6fVHYYwqW/TR20-Media-Replacement_d600.JPG"
           >
           <a href="">
             <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da3544f6fVHYYwqW/TR20-Media-Replacement_d600.JPG">
             <div class="demo-gallery-poster">
               <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
             </div>
           </a>
         </li>
         <li data-src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da3a9ff2biAFRxvi/TR20-Production-1_d600.JPG"
           >
           <a href="">
             <img class="img-responsive" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ac5da3a9ff2biAFRxvi/TR20-Production-1_d600.JPG">
             <div class="demo-gallery-poster">
               <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
             </div>
           </a>
         </li>
       </ul>

     </div>

  </div>

  <div class="best-suited-section">
    <div class="container" style="padding: 50px">
      <div class="flexcolumncenter">
        <h1 class="footer-grey-heading grey-font tr5-header">BEST SUITED FOR</h1>
        <div class="" style="display: flex; flex-wrap: wrap; padding: 30px;">
          <div class="small-icon-innercontainer" style="width: 240px;">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/59746b963e0bfGZczmh9/icona-cabine_d200.png" width="200" height="118" style="width: 200px; height: 118px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center" style="margin-top: 0">DISTRIBUTION TRANSFORMERS</div>
          </div>
          <div class="small-icon-innercontainer" style="width: 240px;">
            <img class="small-icon" src="https://storage.googleapis.com/wzukusers/user-22488641/images/59746b963e0bfGZczmh9/icona-cabine_d200.png" width="200" height="118" style="width: 200px; height: 118px; margin-top: 0px; margin-left: 0px;">
            <div class="icon-heading text-center" style="margin-top: 0">UNIT DISTRIBUTION SYSTEM</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="specification-section">
    <div class="container flexcolumncenter" style="padding: 50px">
      <h1 class="footer-grey-heading grey-font tr5-header">SPECIFICATION</h1>
      <div class="tr5-table-container">
        <table>
          <tr>
            <th>Transformer Size</th>
            <td>< 20 MVA</td>
          </tr>
          <tr>
            <th>Flow Rate</th>
            <td>
              100 LPH – 500 LPH
            </td>
          </tr>
          <tr>
            <th>Moisture Management</th>
            <td>
              to ≤ 10 ppm
            </td>
          </tr>
          <tr>
            <th>Media Volume</th>
            <td>
              20 kg
            </td>
          </tr>
          <tr>
            <th>Particulate Removal</th>
            <td>
              1 Micron (Spin on type)
            </td>
          </tr>
          <tr>
            <th>Flow Meter</th>
            <td>
              Local Digital Display
            </td>
          </tr>
          <tr>
            <th>Weight in Kgs</th>
            <td>
              160 kgs(In Cabinet)
            </td>
          </tr>
          <tr>
            <th>Dimensions: Width x Height x Depth</th>
            <td>
              1280 x 790 x 600 mm
            </td>
          </tr>
          <tr>
            <th>Enclosure</th>
            <td>
              Mild Steel 2.5 mm thickness Powder Coated
            </td>
          </tr>
          <tr>
            <th>Cylinder & Piping</th>
            <td>
              Stainless Steel 316 Grade
            </td>
          </tr>
          <tr>
            <th>Protection </th>
            <td>
              Designed to comply with IP65
            </td>
          </tr>
          <tr>
            <th>Operating Temperature Range</th>
            <td>
              0 °C to + 65 °C
            </td>
          </tr>
          <tr>
            <th>Moisture Adsorbancy Capacity</th>
            <td>
              5 - 7 Liters
            </td>
          </tr>
          <tr>
            <th>Operating oil temperature range</th>
            <td>
              + 2 °C to + 95 °C
            </td>
          </tr>

          <tr>
            <th>Operating pump capacity</th>
            <td>
              Maximum 500 Liters/hour
            </td>
          </tr>
          <tr>
            <th>Electrical Supply</th>
            <td>
              230 VAC; 50Hz; 0.2KW; 1Ø
            </td>
          </tr>
          <tr>
            <th>Installation time: Est.</th>
            <td>
              5 (Five) hours with 2 (Two) engineers
            </td>
          </tr>
          <tr>
            <th>Commissioning Time: Est.</th>
            <td>
              1 hour
            </td>
          </tr>
          <tr>
            <th>Alarms and cable requirement</th>
            <td>
              Output: 1 NO and 1 NC
              (Fail Safe Mode)
              Cable: 1 – 2.5 mm sq
            </td>
          </tr>
          <tr>
            <th>Power Cable</th>
            <td>
               2.5 mm sq
            </td>
          </tr>
          <tr>
            <th>Monitoring</th>
            <td>
              Temperature and moisture probes at inlet and outlet with
              local LCD display
            </td>
          </tr>
          <tr>
            <th>Oil Supply line</th>
            <td>
              Stainless Steel Teflon Flexible ½ inch
            </td>
          </tr>
          <tr>
            <th>Oil Return line</th>
            <td>
              Stainless Steel Teflon Flexible ½ inch
            </td>
          </tr>
          <tr>
            <th>Flange Adaptors</th>
            <td>
              Stainless Steel ½ inch
            </td>
          </tr>
          <tr>
            <th>Solenoid valves</th>
            <td>
              ½ inch Aculator Valve
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="tr5-download-section" >
    <div class="black-layer" style="position: relative;">
      <div style="display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;">


        <div style="display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 262px;
          align-self: flex-end;
          padding: 15px;">
          <!-- <h2 style="margin: 0px" class="white-font">For more information</h2> -->
          <h1 style="margin: 15px" class="white-font">Download the TR20 Brochure</h1>
          <a class="download-button" target="_blank" href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac097f1e4785qKXkrnh/B-TR20.pdf">
            DOWNLOAD
          </a>
        </div>
        <div style="position: absolute;top: -60px; left: 274px">
          <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb5e3f1f5b2WUGqas2/Screen-Shot-2018-03-28-at-12.18.52_d400.png" width="200" height="247" style="margin-top: 0px; margin-left: -1px;transform: rotate(-21deg);">
          <!-- <img class="trans-model-link" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5abb5e3f1f5b2WUGqas2/Screen-Shot-2018-03-28-at-12.18.52_d400.png" width="305" height="391" style="width: 305px; height: 391px; margin-top: 0px; margin-left: -1px;"> -->
        </div>
      </div>

    </div>

  </div>

  <div class="tr5-form-section">
    <div class="container" style="padding: 0px 150px 50px">
      <div style="display: flex; justify-content: centre; align-items: center; flex-wrap: wrap">
        <div class="form-heading-container">
          <h1>Looking for a Demo?</h1>
          <h1>Get in touch with us!</h1>
        </div>
        <div class="form-div">
          <div class="trans-form-warning" id="form-empty-warning">
            <div style="display: flex; justify-content: flex-end">
              <i class="fa fa-close" id="warn-close" style="font-size: 20px; cursor: pointer; margin-top: 7px; margin-right: 7px;"></i>
            </div>
            <div style="margin-top: -15px; width: 100%; height: 85%; z-index: -100; display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column
              ">
              <p class="white-font text-center small-form-warning-text" id="first-warn-text"></p>
              <p class="white-font text-center small-form-warning-text" id="second-warn-text"></p>
            </div>
          </div>
          <p class="white-font" style="font-size: 16px">
            Fill in your name and email address below and we will get in touch with you, shortly.
          </p>
          <form action="">
            <div>
              <label for="" class="white-font">Name</label>
              <input type="text" id="name-field">
            </div>
            <div>
              <label for="" class="white-font">Email</label>
              <input type="email" id="email-field">
            </div>
            <input style="z-index: 100" id="email-submit" class="submit-button" type="submit">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="subject-expert-section">
    <div class="black-layer">
      <div class="container flexcolumncenter" style="padding: 50px;">
        <h1 class="grey-font footer-grey-heading" style="margin-top: 0px">
          Speak to our subject expert today!
        </h1>
        <h2 class="white-font">Give us a call on +971 6-5272626</h2>
        <h2 class="white-font" style="margin-top: 0px">or send us an email at <a style="color: white" href="mailto:support@drytrans.com">support@drytrans.com</a></h2>
      </div>
    </div>
  </div>

</div>
