.about_us div {

}
.about-first-section {
  background-attachment: fixed;
  margin-top: 45px;
  height: 350px;
  background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
}
.about-quote-section {
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9dcf8ccd9dLmRWQTs/free-wallpaper-15-1.jpg');
}

.quote-inner {
  background-color: rgba(5,5,5,.5);
}
.who-we-are-section {
  p {
    text-align: justify;
  }
}

.small-icon-innercontainer {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 50px;
  flex: 1;
}
.core-icon-container {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}
.about-heading {
  font-size: 22px;
}
.small-icon {
  margin-top: 0px; margin-left: 0px;
}
.icon-heading {
  border-top: 1px solid grey;
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
}
