.contact div {

    color: black;

  .contact-us-first-section {
    margin-top: 45px;
    background-attachment: fixed;
    height: 350px;
    background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
  }
.contact-us-first-section-inner {
  height: inherit;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center
}
.contact-parallax {
  background-attachment: fixed;

  background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");

}
.map-section {
  margin-bottom: 30px;
}
.grey-details-section {
  background-color: rgba(241,241,241,.7);
  height: inherit;
}
.contact-form-container {
  background-color: rgba(255,255,255,0.5)
}
.contact-details {
  text-align: center;
  flex: 1;
  border-right: 1px solid rgb(102, 102, 102);
  padding: 10px 20px;
  margin: 10px 0px;
}
.contact-details p {
  margin-bottom: 2px;
  font-size: 16px
}
address {
  font-size: 16px;
}
input {
  width: 100%;
  border: 1px solid grey;
  height: 40px;
  padding: 10px;
  background-color: transparent;
}
input:hover, textarea:hover {
  background-color: #E3E3E3
}
textarea {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
  background-color: transparent;
}
.input-container {
  margin-bottom: 20px;
}

.submit-button {
  background-color: white;
  border: 1px solid #02B4FF;
  width: 115px;
  height: 42px;
  border-radius: 20px;
  font-size: 17px;
  padding: 0px;
}
.submit-button:hover {
  background-color: #02B4FF;
  color: white;
}
.blue-icon-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-right: 50px; */
  // width: 217px;
  margin: 20px 50px;
}
.blue-icon {
  color: #02B4FF;
  font-size: 25px !important;
  margin-right: 10px;
}


.contact-details div {
  margin-bottom: 16px;
  a {
    color: black;
    text-decoration: none;
  }
}

.contact-details:first-child {
  border-left: 1px solid rgb(102, 102, 102);
}

}
