.experience div {
  color: black;
  
.experience-first-section {
  margin-top: 45px;
  height: 350px;
  background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
}

.experience-grey-section {
  background-color: #E3E3E3;
  a {
    color: black;
    text-decoration: none;
  }
}

.experience-download-link {
  font-size: 20px;
  font-family: latoRegular;
}
.experience-note {
  font-size: 15px;
  display: flex;
  align-self: flex-start;
  margin-top: 50px;
}

}
