.faq div {
  .faq-first-section {
    height: 350px;
    background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
  }
  .faq-first-section-inner {
    height: inherit;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq-grey-section {
    background-color: #E3E3E3;
  }
  .faq-table tr:not(:last-child) {
     border-bottom: 1px solid black;
  }
  td, th {
    width: 50%;
    padding: 20px;
    text-align: justify;
  }
  .question-number {
    font-weight: semi-bold;
    font-size: 60px;
    margin-right: 30px;
  }
}
