.index div {
  // color: black;
  .flexcolumncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-medium-text {
    font-size: 18px;
    color: black;
  }
.more-button {
  width: 120px;
  height: 42px;
  border: 2px solid rgb(0, 108, 153);
  border-radius: 50px;
  text-decoration: none;
  color: black;
  // padding: 10px 15px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.more-button:hover {
  background-color: #02B4FF;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.download-button {
  width: 120px;
  height: 42px;
  border: 1px solid rgb(0, 108, 153);
  border-radius: 50px;
  text-decoration: none;
  color: white;
  // padding: 10px 15px;
  /*position: absolute;
  right: 0px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.download-button:hover {
  background-color: #02B4FF;
  color: black;
}
.redefined {
  font-size: 60px;
  margin: -10px 0px;
}
.redefined:after {
  content: '';
  height: 1px;
  background-color: rgb(102, 102, 102);
  display: block;
  margin: 20px 0px;
  width: 60%;
}
.black-section {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 25px;
    text-align: center;
    padding: 0px 150px
}
.small-icon-innercontainer {
  display: flex;

  justify-content: center; align-items: center; flex: 1;
  flex-direction: column; margin: 5px;
}
.small-icon {
   height: 73px; margin-top: 0px; margin-left: 0px;
}
.icon-heading {
  border-top: 1px solid grey;
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}
.background-hexagon-image {
  // background-image: url("home_hexagon.png");
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5accc61309dcbVPRLlo2/Myristicin.svg_d1000.png');
  height: 509px;
  background-repeat: no-repeat;
  position: absolute;
  top: 49%;
  left: -50%;
  opacity: 0.1;
  width: 128%;
  background-size: cover;
  z-index: -100;
}


.trans-model-link {
  transition: all .5s linear
}

.trans-model-link:hover {
  transform: scale(1.1,1.1);
}

.benefits-list {
  list-style: none;
  padding-left: 0px;
}
.green-font {
  color: #1FC161;
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.trans-benefits-heading {
  font-size: 42px;
  margin-bottom: 5px;
}
.benefits-list li {
  padding-bottom: 15px;
  font-size: 18px;
}

.benefits-list li::before {
  content: '\f0ac';
  font-family: FontAwesome;
  width: 45px;
  margin-right: 5px;
}
.discover-section {
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9dcf8ccd9dLmRWQTs/free-wallpaper-15-1.jpg');
}
.halfborder-box {
  margin-bottom: 50px;
  border: 1px solid #02B4FF;
  padding: 20px;
  position: relative;
}
.halfborder-box::before {
  padding:0;
  margin:0;
  display:block;/* probably not really needed? */
  content: "";
  width:85%;
  height:1.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  background-color:white;
  position: absolute;
  right: -1px;
  top:-1px;
}
.halfborder-box::after {
  padding:0;
  margin:0;
  display:block;/* probably not really needed? */
  content: "";
  width:85%;
  height:1.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  background-color:white;
  position: absolute;
  left:0;
  bottom:-1px;
}
.small-icon-container {
  padding: 16px;
  flex: 1
}
.blue-icon-section {
  p {
    font-size: 18px;
  }
}

}
.trans-model-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trans_model_image {
  // width: 142px;
  height: 236px;
}
