.mms90 div {
  .trans-main-heading {
  font-size: 63px
}
.trans-sub-heading {
  font-size: 30px;
}
.more-button {
  width: 120px;
  height: 42px;
  border: 2px solid rgb(0, 108, 153);
  border-radius: 50px;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  position: absolute;
  right: 0px;
  display: block;
}
.more-button:hover {
  background-color: #02B4FF;
  color: white;
  text-decoration: none;
}
.background-hexagon-image {
  background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5accc61309dcbVPRLlo2/Myristicin.svg_d1000.png");
  min-height: 509px;
  margin-top: 0px;
  opacity: 0.1;
  margin-left: 86px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 79px;
  opacity: 0.1;
  /* margin-left: -179px; */
  width: 50%;
}

.flexcolumncenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tr5-header {
  font-size: 36px;
  letter-spacing: 8px;
}

.small-icon-innercontainer {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex: 1;
  flex-direction: column;
  margin: 5px 40px;
}
.small-icon {
   /*width: 73px;
   height: 73px;*/
   margin-top: 0px;
   margin-left: 0px;
}
.icon-heading {
  border-top: 1px solid grey;
  padding-top: 7px;
  margin-top: 5px;
  font-size: 18px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px 0px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    width: 50%;
}
th {
  text-align: left;
  font-weight: normal;
}
td {
  text-align: right;
}

.tr5-download-section {
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9dcf8ccd9dLmRWQTs/free-wallpaper-15-1.jpg');
  margin-top: -20px; margin-bottom: 50px;
}
.download-button {
  width: 120px;
  height: 42px;
  border: 1px solid rgb(0, 108, 153);
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  /*position: absolute;
  right: 0px;*/
  display: block;
  background-color: transparent;
  margin-bottom: 15px;
}
.download-button:hover {
  background-color: #02B4FF;
  color: black;
}

.tr5-table-container {
  width: 100%;
  margin: 50px 0px
}

.subject-expert-section {
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9dcf8ccd9dLmRWQTs/free-wallpaper-15-1.jpg');
}
.black-layer {
  background-color: rgba(5,5,5,.7);
  height: inherit
}
.form-div {
  background-color: #7D7D7D;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px #7D7D7D;
  padding: 20px;
  width: 280px;
  position: relative;
}
.form-heading-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.form-heading-container h1 {
  margin-bottom: 10px;
  margin-top: 0px
}
.tr5-form-section label {
  font-size: 15px;
}

.tr5-form-section input {
  width: 100%;
  height: 37px;
  padding: 5px;
  margin-bottom: 15px;
}
.tr5-form-section input:focus {
  outline: none
}
.submit-button {
  background-color:#0D739E;
  color: white;
  border: 0;
  font-size: 15px;
  margin-bottom: 0px !important
}
.submit-button:hover {
  background-color: #02B4FF
}

/*gallery*/

.demo-gallery {
  margin-top: 50px;
}

.demo-gallery > ul > li {
  margin-bottom: 15px;
  width: 250px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

}
