.moisture div {
  .moisture-first-section {
    margin-top: 45px;
    height: 350px;
    background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
  }

.moisture-black-parallax-section {
  background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5aba0ee57984dcpu7sNV/power-transformer08EN036.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.black-layer {
  background-color: rgba(0,0,0,.8);
  height: inherit;
}
.black-layer p {
  font-size: 16px;
}
.moisture-understanding-section {
  background-color: #E3E3E3
}
.moisture-understanding-inner {
  // flex: 1;
  width: 345px;
  padding: 0px 5px;
  p {
    text-align: justify;
    line-height: 1.3em;
  }
}
.moisture-understanding-inner .heading {
  display: inline-block;
  font-size: 20px;
}
.moisture-effects-section .heading {
  display: inline-block;
  font-size: 60px;
  text-align: center;
}

.table-source-container {
  display: flex; justify-content: flex-end;
  text-decoration: none;
  margin-right: 5px;
}
.table-source-container:hover {
  text-decoration: none;
}
.moisture-grey-quote-section {
  background-color: #E3E3E3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 35px;
  text-align: center;
  padding: 0px 150px
}
.moisture-comes-from-section {
  background-color: black;
  text-align: center;
}
.moisture-comes-from-section p {
  font-size: 18px;

}
.para-blue-border {
  border-width: 2px;
  border-color: rgb(2, 180, 255);
  border-style: solid;
  padding: 5px 0px 1px;
}
.moisture-grey-table-section {
  background-color: #E3E3E3;
}

td, th {
  border: 1px solid grey;
  vertical-align: center;
  padding: 40px;
   text-align: center;
}
td {
  font-size: 17px;
}
th {
  font-size: 25px;
  font-weight: normal;
}
th p {
  margin-bottom: 0px;
}
th a {
  font-weight: lighter;
  text-decoration: none;
  font-size: 13px;
  color: black;
  margin-top: -2px;
  display: block;
}
th a:hover {
  text-decoration: none;
  color: black;

}

}
