// @font-face {
//    font-family: latoRegular;
//    src: url(/assets/Lato-Regular.ttf) format('truetype');
// }

* {
   font-family: 'Lato', sans-serif;
}
.flexcolumncenter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navbar-default {
  background-color: #181818;
  border: none;
  border-radius: 0px;
  min-height: 80px;
  padding: 0 50px;
}
.navbar-default > .container {
  min-height: inherit;
}
.navbar-default > .container > .navbar-collapse {
  min-height: inherit;
}
.navbar-right {
  min-height: inherit;
  margin: auto 0;
}

.navbar-default .navbar-nav>li>a {
  min-height: inherit;
  color: white;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-default .navbar-nav>li>a:hover {
  border-bottom: 2px solid #02B4FF;
  color: #02B4FF;
}
.navbar-default .navbar-nav>.active>a:hover {
  border-bottom: 0px solid #02B4FF;
  color: #02B4FF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #02B4FF;
  background-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #02B4FF;
}
.active {
  border-bottom: 2px solid #02B4FF;
  color: #02B4FF !important;
  background-color: transparent !important;
}
.navbar-brand {
  padding: 0px;
}

.white-font {
  color: white;
}
.grey-font {
  color: rgb(102, 102, 102);
}
.dark-blue {
  color: #0D739E;
}
.footer {
  background-color: #050505;
}
.footer-inner-section {
  padding: 0px 50px;
  flex: 1
}
.footer-nav:nth-child(0) {
  margin-bottom: 35px;
}

.footer-inner-section:not(:first-child) {
  border-left: 1px solid rgb(102, 102, 102);
}
.footer-nav {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.blue-circle::before {
  content: '';
  width: 10px;
  min-height: 10px;
  background-color: #02B4FF;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px
}
.blue-circle {
  padding-top: 10px;
}
.blue-font {
  color: #02B4FF;
}
.blue-circle a {
  font-size: 11px;
  text-decoration: none;
}
.trans-model-link {
  transition: all .5s linear
}

.trans-model-link:hover {
  transform: scale(1.1,1.1);

}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #02B4FF;
}
.navbar-default .navbar-toggle {
    border-color: #02B4FF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.footer-grey-heading::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgb(102, 102, 102);
  margin: 5px 0;
}
.blue-footer {
  background-color: #006C99;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-footer {
  background-color: #161616;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-footer > ul {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 0px;
   padding-left: 0px;
   list-style: none;
}
.black-footer ul li {
  padding: 0 3px;
  font-size: 12px;
}
.moisture-text {
  font-size:44px;
  color: #02B4FF;
}
.address {
  font-size: 14px !important;
}

.visible {
  opacity: 1 !important;
}

.hid {
  opacity: 0;
}
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: 0px;
  border-color: transparent;
}
.navbar-collapse {
  box-shadow: none;
}


@media (min-width: 927px){
  .navbar-right {
    margin-right: 100px !important;
  }

  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 100px;
  }
}

.form-warning {

  position: absolute;
  top: 18%;
  bottom: 50%;
  height: 175px;
  left: 27%;
  right: 23%;
  background-color: rgba(0,0,0,.7);
  color: white;
  display: none;
}
.trans-form-warning {
  position: absolute;
  top: 3%;
  bottom: 50%;
  height: 91px;
  left: 7%;
  right: 8%;
  background-color: rgba(0,0,0,.7);
  color: white;
  display: none;
}
.warning-text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}
.small-form-warning-text {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 3px;

}
