.solutions div {
  .solutions-first-section {
    margin-top: 45px;
    background-attachment: fixed;
    height: 350px;
    background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
  }
  .solutions-first-section-inner {
    height: inherit;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center
  }
  .about-quote-section {
    background-image: url('https://storage.googleapis.com/wzukusers/user-22488641/images/5ab9dcf8ccd9dLmRWQTs/free-wallpaper-15-1.jpg');
  }

  .quote-inner {
    background-color: rgba(5,5,5,.7);
  }
  .water-removal-section {
    background-color: #050505;
  }
  .waterdrop-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .icon-wrapper {
      margin: 0px 32px;
      display: flex;
      // flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 17px;
        margin-top: 7px;
      }
    }
  }
  .water-drop {
    // width: 150px;
    height: 105px;
  }

  .oil-fiteration-benefits {
    background-attachment: fixed;
    background-image: url("https://storage.googleapis.com/wzukusers/user-22488641/images/5a8a7091c3995URhypx0/subtle_dots_2X.png");
  }
  .oil-fiteration-benefits-inner {
    height: inherit;
    background-color: rgba(255,255,255,0.7);
  }
  .icon-heading, .icon-title {
    font-size: 17px;
  }
  .icon-title {
    margin: 15px 0px;
    text-align: center;
  }
  .small-icon-innercontainer-solutions-application {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    flex: 1;
    width: 200px;
  }

}
