<footer>
  <div class="footer">
    <div class="container" style="display: flex; justify-content: center; padding: 50px 0px; flex-wrap: wrap; align-items: cnetre">
      <div class="footer-inner-section">
        <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab78ce0cb0065hDQIeh/DT-LOGO_d400.png" width="215" height="136" style="width: 215px; height: 136px; margin-top: 0px; margin-left: 0px;">
        <p class="white-font">
          DryTrans is a brand of moisture management systems under the AVACO banner. It is a result of two decades of industry experience. AVACO Solutions is based out of SHARJAH, U.A.E. DryTrans is designed and manufactured in the United Arab Emirates
        </p>
      </div>
      <div class="footer-inner-section">
        <div class="footer-grey-heading">
          <span class="grey-font">QUICK LINKS</span>
        </div>
        <ul class="footer-nav" style="margin-bottom: 35px">
          <li class="blue-circle">
            <%= link_to 'HOME', root_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'ABOUT US', about_us_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'MOISTURE', moisture_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'SOLUTIONS', solutions_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'EXPERIENCE', experience_path, :class => 'white-font' %>
          </li>
        </ul>

        <div class="footer-grey-heading">
          <span class="grey-font">DOWNLOADS</span>
        </div>
        <ul class="footer-nav">
          <li class="blue-circle">
            <a  target="_blank" href="https://storage.googleapis.com/wzukusers/user-22488641/documents/5ac08127b2357u74o1WV/DT%20Brochure%20(UAE).pdf" class="white-font">PRODUCT CATALOGUE</a>
          </li>
        </ul>

      </div>
      <div class="footer-inner-section">
        <div class="footer-grey-heading">
          <span class="grey-font">SUPPORT</span>
        </div>
        <ul class="footer-nav" style="margin-bottom: 35px">
          <li class="blue-circle">
            <%= link_to 'FAQS', faq_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'CONTACT US', contact_path, :class => 'white-font' %>
          </li>
        </ul>

        <div class="footer-grey-heading">
          <span class="grey-font">SOLUTIONS</span>
        </div>
        <ul class="footer-nav">
          <li class="blue-circle">
            <%= link_to 'TR5', tr5_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'TR20', tr20_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'TR50', tr50_path, :class => 'white-font' %>
          </li>
          <li class="blue-circle">
            <%= link_to 'MM90', mms90_path, :class => 'white-font' %>
          </li>
        </ul>
      </div>
      <div class="footer-inner-section">
        <div class="footer-grey-heading">
          <span class="grey-font">CONNECT</span>
        </div>
        <ul class="footer-nav" style="margin-bottom: 35px">
          <li style="display: flex">
            <i class="fa fa-map-marker" style="font-size: 25px; margin-right: 10px; color: #02B4FF"></i>
            <address class="white-font address">
              Sharjah Airport Free Zone
              SAIF Zone
              Q3 – 53
              P.O.Box: 514585
              Sharjah, United Arab Emirates
            </address>
          </li>
          <li style="display: flex; margin-bottom: 15px;">
            <i class="fa fa-phone" style="font-size: 25px; margin-right: 10px; color: #02B4FF"></i>
            <p class="white-font">+971 6-5272626</p>
          </li>
          <li style="display: flex; margin-bottom: 15px;">
            <i class="fa fa-fax" style="font-size: 20px; margin-right: 10px; color: #02B4FF"></i>
            <p class="white-font">+971 6-573 8597​​​​</p>
          </li>
          <li style="display: flex; margin-bottom: 15px;">
            <i class="fa fa-envelope" style="font-size: 18px; margin-right: 10px; color: #02B4FF"></i>
            <a class="white-font" style="color: white" href="mailto:support@drytrans.com">support@drytrans.com​​​​</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="blue-footer">
    <span class="white-font">AN AVACO SOLUTIONS FZC COMPANY</span>
  </div>
  <div class="black-footer">
    <ul class="white-font">
      <li>Drytrans, U.A.E</li>
      <li>|</li>
      <li>All Rights Reserved © 2018</li>
      <li>|</li>
      <li>Privacy Policy</li>
      <li><a href="https://time.is/Dubai"  target="_blank" style="color: white; text-decoration: underline">Time in Dubai:</a> <span id="todaysDate"></span></li>
    </ul>
  </div>

</footer>
