<header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to root_path, :class => 'navbar-brand' do %>
            <img class="image-box-image-new" src="https://storage.googleapis.com/wzukusers/user-22488641/images/5ab78ce0cb0065hDQIeh/DT-LOGO_d200.png" width="150" height="80" style="margin-top: 0px; margin-left: 0px;">
          <% end %>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'HOME', root_path, :tabindex => '-1', :class => current_class?(root_path) %></li>

            <li><%= link_to 'ABOUT', about_us_path, :class => current_class?(about_us_path) %></li>
            <li><%= link_to 'MOISTURE', moisture_path, :class => current_class?(moisture_path) %></li>
            <li>
<%
=begin %>
              <%= link_to solutions_path, :class => 'dropdown-toggle white-font disabled', data: { toggle: 'dropdown' } do %>
                SOLUTIONS
                <span class="caret"></span>
              <% end %>
<%
=end %>
              <%= link_to 'SOLUTIONS', solutions_path, :class => current_class?(solutions_path) %>

<%
=begin %>
              <ul class="dropdown-menu">
                <li><%= link_to 'TR5', tr5_path %></li>
                <li><%= link_to 'TR20', tr20_path %></li>
                <li><%= link_to 'TR50', tr50_path %></li>

                <li><%= link_to 'MMS90', mms90_path %></li>
              </ul>

<%
=end %>

            </li>
            <li><%= link_to 'EXPERIENCE', experience_path, :class => current_class?(experience_path) %></li>
            <li><%=  link_to 'CONTACT', contact_path, :class => current_class?(contact_path) %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
