<!DOCTYPE html>
<html>
<head>
  <title>DryTrans</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon.ico?v=fav-5abb589529ba03jjDDx5" type="image/x-icon" />
  <link rel="icon" type="image/png" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon-16x16.png?v=fav-5abb589529ba03jjDDx5" sizes="16x16">
  <link rel="icon" type="image/png" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon-32x32.png?v=fav-5abb589529ba03jjDDx5" sizes="32x32">
  <link rel="icon" type="image/png" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon-96x96.png?v=fav-5abb589529ba03jjDDx5" sizes="96x96">
  <link rel="icon" type="image/png" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon-160x160.png?v=fav-5abb589529ba03jjDDx5" sizes="160x160">
  <link rel="icon" type="image/png" href="https://storage.googleapis.com/wzukusers/user-22488641/images/fav-5abb589529ba03jjDDx5/favicon-196x196.png?v=fav-5abb589529ba03jjDDx5" sizes="196x196"> -->
  <!-- <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css">
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= render 'layouts/navbar' %>
<%= yield %>
<%= render 'layouts/footer' %>

<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script>
  lightGallery(document.getElementById('lightgallery'));
</script>
<script type="text/javascript">
  function doDate() {

    // create Date object for current location
    d = new Date();

    // convert to msec
    // add local time zone offset
    // get UTC time in msec
    utc = d.getTime() + (d.getTimezoneOffset() * 60000);

    // create new Date object for different city
    // using supplied offset 4 is cityOffset
    nd = new Date(utc + (3600000*4));
    var hours = nd.getHours() > 12 ? nd.getHours() - 12 : nd.getHours();
    var am_pm = nd.getHours() >= 12 ? "PM" : "AM";
    hours = hours < 10 ? "0" + hours : hours;
    var months = nd.getMonth()+1;
    var minutes = nd.getMinutes() < 10 ? "0" + nd.getMinutes() : nd.getMinutes();
    var seconds = nd.getSeconds() < 10 ? "0" + nd.getSeconds() : nd.getSeconds();
    var b = "";
    var days = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");

    // b += nd.toLocaleString() + ", " + days[nd.getDay()];
    b += " " + hours +":" + minutes + ":" + seconds + " " + am_pm + ", " + days[nd.getDay()] + " " + nd.getDate() + "/" + months + "/" + nd.getFullYear() ;
    document.getElementById("todaysDate").innerHTML = b;
  }

  // function currentDate()
  // {
  //   var str = "";
  //   var days = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
  //
  //   var now = new Date();
  //   var months = now.getMonth()+1;
  //
  //   str += " " + now.getHours() +":" + now.getMinutes() + ":" + now.getSeconds() + ", " + days[now.getDay()] + " " + now.getDate() + "/" + months + "/" + now.getFullYear() ;
  //   document.getElementById("todaysDate").innerHTML = str;
  // }
  setInterval(doDate, 1000);

</script>
<script type="text/javascript">
$(document).ready(function() {
	$('.post').addClass("hid").viewportChecker({
	    classToAdd: 'visible animated bounceInRight', // Class to add to the elements when they are visible
	    // offset: 100
	});
});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcSQbUiKgt7tQSG-hTfQprGyu6IREE-lc&callback=initMap"></script>
</body>
</html>
